@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PollaEngendrilClientHosted.Client.Services;
@using PollaEngendrilClientHosted.Client.State;

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IUsersApiService usersApiService
@inject UserState UserState

<AuthorizeView>
    <Authorized>
        Buen día, @context.User.Identity.Name! 
        <a href="#" @onclick="BeginSignOut" class="login-logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login" class="login-logout">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}