<!-- Partido 1: Ecuador vs. Uruguay -->
<div class="match">
    <p>Fecha: 10 de Octubre</p>
    <p>Hora: 18:00</p>
    <img src="https://flagcdn.com/w40/ec.png" alt="Bandera de Ecuador">
    <input type="number" id="score1" placeholder="0">
    <img src="https://flagcdn.com/w40/uy.png" alt="Bandera de Uruguay">
    <input type="number" id="score2" placeholder="0">
</div>


@code {



}
